* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

// Block code
.codeblock {
  border: 2px solid black;
  border-radius: 20px;

  background-color: var(--transparence-h);
  color: rgba(white, var(--transparence-h1-valeur));

  padding: 2%;
}

.codeblock:hover {
  background-color: rgba(rgb(97, 89, 74), var(--transparence-h1-valeur));
}

.global {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 40vh;
}

.global > .hero {
  flex: 1;
  // min-height: auto;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 1100px;
  // border: 1px solid grey;
  padding: 5rem 1rem;
  // background-color: rgba(255, 255, 255, 0.2);
}

#entete,
#footer {
  min-height: 20vh;
}

// #entete__menu {
//   // background-color: var(--_couleur-arriere-menu);
// }

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--transparence-h);
  position: relative;
  z-index: -2;
  // background-image: url(https://img.freepik.com/photos-gratuite/belles-fleurs-gouttes-eau_23-2150705688.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // filter: opacity(80%);
}

#accueil {
  background-color: var(--couleur-arriere-accueil);
  color: var(--transparence-h);
}

#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--transparence-h);
  // z-index: -1;
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--transparence-h);
}

.les-leonardo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--transparence-h);
  // z-index: -2;
}

// Sélecteurs précis
a {
  text-decoration: none;
  color: rgb(2, 24, 53);

  &:hover {
    text-decoration: underline;
    color: rgb(5, 55, 119);
  }

  &:active {
    text-decoration: none;
    color: rgb(57, 70, 96);
  }

  &:visited {
    text-decoration: none;
    color: rgb(3, 32, 98);
  }

  &:focus {
    text-decoration: none;
    color: rgb(16, 89, 111);
  }
}

b {
  color: var(--couleur-texte-h2);
}

b:hover {
  color: var(--couleur-texte-hov);
}

img {
  border-radius: 15px;
  width: 150px;
  height: 150px;

  transition: 1s;
}

img:hover {
  filter: brightness(1.2);
  border-radius: 50%;
}

.block-texte {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 1%;
  margin-bottom: 1%;
}
