* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

// Style du bouton
.lebouton {
  display: flex;
  align-self: center;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 1.5%;
  font-size: larger;
}

// Block code
.codeblock {
  border: 2px solid black;
  border-radius: 20px;

  background-color: var(--transparence-h);
  color: rgba(white, var(--transparence-h1-valeur));

  padding: 2%;
}

.codeblock:hover {
  background-color: rgba(black, var(--transparence-h1-valeur));
}

.global {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 59.5vh;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 900px;
  // border: 1px solid grey;
  padding: 3rem 1rem;
  // background-color: rgba(255, 255, 255, 0.2);
}

#entete,
#footer {
  min-height: 20vh;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--transparence-h);
  position: relative;
  z-index: -2;
  // background-image: url(https://img.freepik.com/photos-gratuite/belles-fleurs-gouttes-eau_23-2150705688.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // filter: opacity(80%);
}

#accueil {
  background-color: var(--couleur-arriere-accueil);
  color: var(--transparence-h);
}

#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--transparence-h);
  // z-index: -1;
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  height: var(--valeur-largeur-galerie);
  color: var(--transparence-h);
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--transparence-h);
  // z-index: -2;
}

// #footer::after {
//   position: absolute;
//   content: "";
//   inset: -100px;
// }
