:root {
  // Couleur de transparence des titres
  --transparence-h: rgba(53, 50, 42, 0.673);
  --transparence-h-rand: rgba(86, 82, 68, 0.523);
  --transparence-h1-valeur: 0.7;
  --transparence-section: 0.3;

  // Zone de la Galerie est plus grande que les autres
  --valeur-largeur-galerie: 70vw;

  // Calcul des teintes
  --u1: 30; // Couleur initiale
  --u2: calc(var(--u1) + 180); // Couleur complémentaire
  --u3: calc(var(--u2) - 30); // Couleur analogue gauche
  --u4: calc(var(--u2) + 30); // Couleur analogue droite

  /* La saturation */
  --s-arriere: 100%;
  --s-avant: 50%;

  /* La luminosité */
  --l-arriere: 60%;
  ---avant: 30%;

  /* Couleur d'arrière plan */
  --couleur-arriere-entete: hsl(var(--u1), 70%, 90%);
  --couleur-arriere-accueil: hsl(var(--u1), 70%, 85%);
  --couleur-arriere-evenement: hsl(var(--u1), 70%, 80%);
  --couleur-arriere-galerie: hsl(var(--u1), 70%, 85%);
  --couleur-arriere-footer: hsl(var(--u1), 70%, 90%);

  --couleur-arriere-pour-vague: hsl(var(--u1), 100%, 25%, 20%);

  /* Couleur d'avant plan - background-color */
  --couleur-entete: hsl(var(--u1), 100%, 30%);
  --couleur-accueil: hsl(var(--u1), 100%, 25%);
  // --couleur-evenement: hsl(var(--u1), 100%, 20%);
  // --couleur-galerie: hsl(var(--u1), 100%, 25%);
  --couleur-footer: hsl(var(--u1), 100%, 30%);

  // Pour que la diagonale soit entièrement visible
  --couleur-evenement: var(--couleur-arriere-accueil);
  --couleur-galerie: var(--couleur-arriere-accueil);

  // Pour le texte
  --couleur-texte-h2: hsl(var(--u2), 80%, 40%);
  --couleur-texte-hov: hsl(var(--u2), 80%, 50%);
  --bouton-couleur1: hsl(var(--u2), 80%, 50%);
  --bouton-couleur2: hsl(var(--u2), 20%, 70%);
  --bouton-couleur3: hsl(var(--u2), 10%, 50%);
  --bouton-couleur4: hsl(var(--u2), 10%, 70%);
}
