// Feuille de style du menu principal

.menu-principal-container {
  //nav
  background: rgb(255, 177, 54);
  background: linear-gradient(
    90deg,
    rgba(255, 177, 54, 1) 0%,
    rgba(255, 255, 255, 0.5396752450980392) 50%,
    rgba(157, 193, 235, 1) 100%
  );

  padding: 1rem;

  display: flex;
  justify-content: center;

  position: absolute;
  width: 100%;
  top: 10%;

  transition: 2s;

  @media (max-width: 700px) {
    // flex-direction: row;
    width: 50%;

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transform: translateX(-200%);
  }

  .menu {
    // position: absolute;
    // display: flex;

    list-style-type: none;
    line-height: 200%;
    width: 70%;
    // flex-direction: column;

    //ul
    @media (min-width: 700px) {
      // position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      // transform: translateX(0);
    }
    // display: none;
  }

  // .menu-item {
  //   //li
  // }

  .menu-item a {
    //a
    color: rgb(0, 0, 0);
    transition: 1s;
  }

  .menu-item a:hover {
    //a:hover
    color: var(--couleur-texte-h2);
  }
}

.menu-principal-container:hover {
  background: rgb(255, 177, 54);
  background: linear-gradient(
    90deg,
    rgb(255, 187, 77) 0%,
    rgba(255, 255, 255, 0.607) 50%,
    rgb(169, 200, 235) 100%
  );
}

// Gestion du label #burger (l'image svg est dans le label)
#burger {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  @media (min-width: 700px) {
    display: none;
  }
}

#chk_burger {
  display: none;
}

#chk_burger:checked ~ .menu-principal-container {
  transform: translateX(0%);
}
a.custom-logo-link {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 100px;
  height: 100px;
  z-index: 1;
}
