// Feuille de style du menu principal

.menu-principal-container {
  //nav
  background-color: rgb(188, 178, 178);
  padding: 1rem;

  transition: 1s;

  .menu {
    //ul
    display: flex;
    justify-content: space-around;
  }

  .menu-item {
    //li
  }

  .menu-item a {
    //a
    color: rgb(0, 0, 0);
    transition: 1s;
  }

  .menu-item a:hover {
    //a:hover
    color: var(--couleur-texte-h2);
  }
}

.menu-principal-container:hover {
  background-color: rgb(207, 219, 235);
}
