.diagonal {
  position: relative;
  isolation: isolate;
  //   z-index: -1;
}

.diagonal::after {
  position: absolute;
  content: "";
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  inset: 0;

  background-color: var(--couleur-arriere-galerie);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transform: skewY(-5deg);
  z-index: -1;
  //   opacity: 0.5;
}
